<?xml version="1.0"?>
<launch>
  <!-- upload urdf -->
  <param name="robot_description" textfile="$(find aibomech_agrobot_v2)/urdf/aibomech_agrobot_v2_joint_state.urdf" />

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aibomech_agrobot_v2)/launch/config.rviz" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch>
