<?xml version="1.0"?>
<launch>
  <!--Firstly we have to run a script that give us path point as a list or from Solidworks
      and then we must run pub_joint2.py script to execute path
  -->

  <!--- Run configured Rviz with gui,robot_state_pub. and joint_state_publisher -->
  <include file="$(find aibomech_agrobot_v2)/launch/check_motors_joint_state_control.launch" />

  <!--- Run gazebo with custom controller -->
  <include file="$(find aibomech_agrobot_v2)/launch/check_motors_joint_state_control_gazebo.launch" />
  
  <!--Run joint_states_to_gazebo.py for send joint value to change gazebo-->
  <node pkg="scaratwo" type="joint_states_to_gazebo.py" name="states" output="screen"/> 

  <!--Run serial_node.py for activate arduino-Ros communaction-->
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
	<param name="port" value="/dev/ttyACM0"/>
	<param name="baud" value="115200"/>
  </node>

</launch>
